@font-face {
    font-family: IBM-Plex-Mono ;
    src: url(../fonts/IBMPlexMono-SemiBold.ttf);
}

.slide-in{
    opacity: 0%;
    transform: translateY(50px); /*I would like to understand this better*/
    animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in {
    to {
        opacity: 100%;
        transform: translate(0);
        }
}

.splash{
    margin-top:10%;
    margin-right:10%;
    height:25rem;
    font-family: IBM-Plex-Mono;
    float: right;
    text-align: right;
}

.graphic{
    float:right;
    height:10rem;
    width: 10rem;
}

.graphic-item{
    width:25%;
    float:left;
    background-color: black;
}

.graphic-01{
    margin-top:5rem;
    height: 5rem;
    margin-right: 5%;
}
.graphic-02{
    margin-top:7rem;
    height: 3rem;
}
.graphic-03{
    margin-top:6rem;
    margin-left: 5%;
    height: 4rem;
}

.title{
    font-size: 2rem;
}

.menu-items{
    margin-top: 10rem;
    font-size: 1.5rem;
}

.login{
    margin-top:2rem;
}

.about{
    font-size: small;
    margin-top:1rem;
}

.item:hover{
    font-size: 1.6rem;
}   