@font-face {
    font-family: IBM-Plex-Mono ;
    src: url(../../fonts/IBMPlexMono-SemiBold.ttf);
}

.font-setting{
    font-family: IBM-Plex-Mono;
}

.splash{
    padding-right:30%;
    float: right;
    text-align: right;
}

.graphic{
    margin-top: 14rem;
    float:left;
    padding-left:30%;
    height:25rem;
    width: 15rem;
}

.graphic-item{
    width:20%;
    float:left;
    background-color: black;
}

.graphic-01{
    margin-top:5rem;
    height: 6rem;
    margin-right: 5%;
}
.graphic-02{
    margin-top:7rem;
    height: 4rem;
}
.graphic-03{
    margin-top:6rem;
    margin-left: 5%;
    height: 5rem;
}

.title{
    font-size: 2rem;
    margin-bottom:4rem;
}

.menu-items{
    cursor: pointer;
    font-size: 2rem;
}

.login{
    margin-top: 10%;
    margin-top:2rem;
}

.about{
    font-size: small;
    margin-top:1rem;
}

.item{
    margin:0.5rem;
}

.item:hover{
    font-size: 1.9rem;
}   