.login-form{
    height:18rem;
}

.err{
    font-size: 11.5px;
    color: red;
}


.create-account{
    font-size: 1rem;
}

.form{
    width:26rem;
    font-weight: bold;
    border-radius:1rem;
    border-width: 0.2rem;
    border-color: black;
    background-color:white;
}

input[type="submit"], textarea {

    background-color : white;
    font-weight: bold;
    color:black;
    opacity: 100%;
  
}

::placeholder{
    opacity: 1;
    color: black;
}
  