.slide-in{
    opacity: 0%;
    transform: translateY(50px); 
    animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in {
    to {
        opacity: 100%;
        transform: translate(0);
        }
}

.slide-down{
    opacity: 0%;
    transform: translateY(-25px); 
    animation: slide-in 0.2s ease forwards;
}

@keyframes slide-down {
    to {
        opacity: 100%;
        transform: translate(0);
        }
}

.slide-up{
    opacity: 0%;
    transform: translateY(50px); 
    animation: slide-in 0.2s ease forwards;
}

@keyframes slide-up {
    to {
        opacity: 100%;
        transform: translate(0);
        }
}