<div class="container">
    <div class="row">
        <div class="col-6" style="background-color: red;">
            <table class="table-striped">
                <thead>
                    <th>Monetary Event Log</th>
                </thead>
                <tbody>
                    <tr>-25</tr>
                    <tr>-25</tr>
                    <tr>-25</tr>
                </tbody>
            </table>
        </div>
        <div class="col" style="background-color: blue;">
            <div class="container">
                <div class="row">
                    <button class="btn ">Food</button>
                    <button class="btn ">Hobbies</button>
                </div>
                <div class="row">
                    <button class="btn">Bills</button>
                    <button class="btn">Subscriptions</button>
                </div>
            </div>
        </div >
        <div class="col" style="background-color:white;">
            <div class="container">
                <div class="row">
                    <form>
                        <div class="form-group">
                          <input type="amount" class="form-control" id="amount" aria-describedby="amount" placeholder="$">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col"><button class="btn" style="background-color:green">+</button></div>
                    <div class="col"> <button class="btn" style="background-color: red;">-</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
        
