@font-face {
    font-family: IBM-Plex-Mono ;
    src: url(../fonts/IBMPlexMono-SemiBold.ttf);
}

.budgeting{
    font-family: IBM-Plex-Mono;
    width:98vw;
}
.category-display{
    font-size: 1.5rem;
    padding:20px;
    margin:10px;
    height:80vh;

    border-radius: 2rem; 
    border-style: solid;
    border-color: black;

}

.category{
    font-size:1rem;
    height:8rem;
    padding:10px;
    margin:10px;
    border-radius: 1rem;
    border-style: solid;
    border-color: black;
}

.goal{
    height:2rem;
    padding:5px;
    margin:5px;
    border-radius:0.5rem;
    border-style: solid;
    border-color: black;
}